
@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Thank You</h2>
Thank you for signing up! You are in our system.

Click @Html.ActionLink("here", "GetQuote", "Order", null, null) to get a quote.

