<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    @*<h1 class="page-header">Employee</h1>*@

    @*<div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="http://placehold.it/200x200/0D8FDB/000" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="http://placehold.it/200x200/39DBAC/000" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="http://placehold.it/200x200/0D8FDB/000" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="http://placehold.it/200x200/39DBAC/000" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
        </div>*@

    <h2 class="sub-header">Active Orders</h2>
    <form class="navbar-form navbar-left">
        <input type="text" class="form-control" placeholder="Search for Work Order ID...">
    </form>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Work Order ID</th>
                    <th>Customer</th>
                    <th>Number of Compounds</th>
                    <th>Number of Assays</th>
                    <th>Order Deadline</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>343</td>
                    <td>Abbott Laboratories</td>
                    <td><a href="#">5</a></td>
                    <td><a href="#">10</a></td>
                    <td>12/13/2019</td>
                </tr>
                <tr>
                    <td>350</td>
                    <td>Tris Pharma Inc.</td>
                    <td><a href="#">3</a></td>
                    <td><a href="#">9</a></td>
                    <td>12/15/2019</td>
                </tr>
                <tr>
                    <td>354</td>
                    <td>Trigg Laboratories, Inc.</td>
                    <td><a href="#">1</a></td>
                    <td><a href="#">6</a></td>
                    <td>12/31/2019</td>
                </tr>
                <tr>
                    <td>299</td>
                    <td>WellSpring Pharmaceuticals, Corp.</td>
                    <td><a href="#">8</a></td>
                    <td><a href="#">15</a></td>
                    <td>01/20/2020</td>
                </tr>
                <tr>
                    <td>433</td>
                    <td>X-GEN Pharmaceuticals, Inc</td>
                    <td><a href="#">7</a></td>
                    <td><a href="#">19</a></td>
                    <td>01/25/2020</td>
                </tr>
                <tr>
                    <td>432</td>
                    <td>Sheffield Pharmaceuticals</td>
                    <td><a href="#">6</a></td>
                    <td><a href="#">6</a></td>
                    <td>01/25/2020</td>
                </tr>
                <tr>
                    <td>234</td>
                    <td>Elorac Inc.</td>
                    <td><a href="#">3</a></td>
                    <td><a href="#">9</a></td>
                    <td>01/28/2020</td>
                </tr>
                <tr>
                    <td>532</td>
                    <td>Dynavax Technologies</td>
                    <td><a href="#">9</a></td>
                    <td><a href="#">9</a></td>
                    <td>01/30/2020</td>
                </tr>
                <tr>
                    <td>456</td>
                    <td>Dendreon</td>
                    <td><a href="#">4</a></td>
                    <td><a href="#">8</a></td>
                    <td>02/01/2020</td>
                </tr>
                <tr>
                    <td>234</td>
                    <td>Tonix Pharmaceuticals</td>
                    <td><a href="#">2</a></td>
                    <td><a href="#">12</a></td>
                    <td>02/02/2020</td>
                </tr>
                <tr>
                    <td>643</td>
                    <td>Biogen</td>
                    <td><a href="#">5</a></td>
                    <td><a href="#">10</a></td>
                    <td>02/10/2020</td>
                </tr>
                <tr>
                    <td>396</td>
                    <td>Celgene Corp</td>
                    <td><a href="#">8</a></td>
                    <td><a href="#">15</a></td>
                    <td>02/10/2020</td>
                </tr>
                <tr>
                    <td>309</td>
                    <td>Beiersdorf, Inc.</td>
                    <td><a href="#">7</a></td>
                    <td><a href="#">9</a></td>
                    <td>02/11/2020</td>
                </tr>
                <tr>
                    <td>398</td>
                    <td>Baxter</td>
                    <td><a href="#">6</a></td>
                    <td><a href="#">18</a></td>
                    <td>02/19/2020</td>
                </tr>
                <tr>
                    <td>346</td>
                    <td>Taiho Oncology, Inc</td>
                    <td><a href="#">8</a></td>
                    <td><a href="#">24</a></td>
                    <td>02/20/2020</td>
                </tr>
                <tr>
                    <td>289</td>
                    <td>Spectrum Pharmaceuticals, Inc.</td>
                    <td><a href="#">5</a></td>
                    <td><a href="#">18</a></td>
                    <td>02/26/2020</td>
                </tr>
                <tr>
                    <td>343</td>
                    <td>Abbott Laboratories</td>
                    <td><a href="#">5</a></td>
                    <td><a href="#">10</a></td>
                    <td>12/13/2019</td>
                </tr>
                <tr>
                    <td>350</td>
                    <td>Tris Pharma Inc.</td>
                    <td><a href="#">3</a></td>
                    <td><a href="#">9</a></td>
                    <td>12/15/2019</td>
                </tr>
                <tr>
                    <td>354</td>
                    <td>Trigg Laboratories, Inc.</td>
                    <td><a href="#">1</a></td>
                    <td><a href="#">6</a></td>
                    <td>12/31/2019</td>
                </tr>
                <tr>
                    <td>299</td>
                    <td>WellSpring Pharmaceuticals, Corp.</td>
                    <td><a href="#">8</a></td>
                    <td><a href="#">15</a></td>
                    <td>01/20/2020</td>
                </tr>
                <tr>
                    <td>433</td>
                    <td>X-GEN Pharmaceuticals, Inc</td>
                    <td><a href="#">7</a></td>
                    <td><a href="#">19</a></td>
                    <td>01/25/2020</td>
                </tr>
                <tr>
                    <td>432</td>
                    <td>Sheffield Pharmaceuticals</td>
                    <td><a href="#">6</a></td>
                    <td><a href="#">6</a></td>
                    <td>01/25/2020</td>
                </tr>
                <tr>
                    <td>234</td>
                    <td>Elorac Inc.</td>
                    <td><a href="#">3</a></td>
                    <td><a href="#">9</a></td>
                    <td>01/28/2020</td>
                </tr>
                <tr>
                    <td>532</td>
                    <td>Dynavax Technologies</td>
                    <td><a href="#">9</a></td>
                    <td><a href="#">9</a></td>
                    <td>01/30/2020</td>
                </tr>
                <tr>
                    <td>456</td>
                    <td>Dendreon</td>
                    <td><a href="#">4</a></td>
                    <td><a href="#">8</a></td>
                    <td>02/01/2020</td>
                </tr>
                <tr>
                    <td>234</td>
                    <td>Tonix Pharmaceuticals</td>
                    <td><a href="#">2</a></td>
                    <td><a href="#">12</a></td>
                    <td>02/02/2020</td>
                </tr>
                <tr>
                    <td>643</td>
                    <td>Biogen</td>
                    <td><a href="#">5</a></td>
                    <td><a href="#">10</a></td>
                    <td>02/10/2020</td>
                </tr>
                <tr>
                    <td>396</td>
                    <td>Celgene Corp</td>
                    <td><a href="#">8</a></td>
                    <td><a href="#">15</a></td>
                    <td>02/10/2020</td>
                </tr>
                <tr>
                    <td>309</td>
                    <td>Beiersdorf, Inc.</td>
                    <td><a href="#">7</a></td>
                    <td><a href="#">9</a></td>
                    <td>02/11/2020</td>
                </tr>
                <tr>
                    <td>398</td>
                    <td>Baxter</td>
                    <td><a href="#">6</a></td>
                    <td><a href="#">18</a></td>
                    <td>02/19/2020</td>
                </tr>
                <tr>
                    <td>346</td>
                    <td>Taiho Oncology, Inc</td>
                    <td><a href="#">8</a></td>
                    <td><a href="#">24</a></td>
                    <td>02/20/2020</td>
                </tr>
                <tr>
                    <td>289</td>
                    <td>Spectrum Pharmaceuticals, Inc.</td>
                    <td><a href="#">5</a></td>
                    <td><a href="#">18</a></td>
                    <td>02/26/2020</td>
                </tr>
                <tr>
                    <td>343</td>
                    <td>Abbott Laboratories</td>
                    <td><a href="#">5</a></td>
                    <td><a href="#">10</a></td>
                    <td>12/13/2019</td>
                </tr>
                <tr>
                    <td>350</td>
                    <td>Tris Pharma Inc.</td>
                    <td><a href="#">3</a></td>
                    <td><a href="#">9</a></td>
                    <td>12/15/2019</td>
                </tr>
                <tr>
                    <td>354</td>
                    <td>Trigg Laboratories, Inc.</td>
                    <td><a href="#">1</a></td>
                    <td><a href="#">6</a></td>
                    <td>12/31/2019</td>
                </tr>
                <tr>
                    <td>299</td>
                    <td>WellSpring Pharmaceuticals, Corp.</td>
                    <td><a href="#">8</a></td>
                    <td><a href="#">15</a></td>
                    <td>01/20/2020</td>
                </tr>
                <tr>
                    <td>433</td>
                    <td>X-GEN Pharmaceuticals, Inc</td>
                    <td><a href="#">7</a></td>
                    <td><a href="#">19</a></td>
                    <td>01/25/2020</td>
                </tr>
                <tr>
                    <td>432</td>
                    <td>Sheffield Pharmaceuticals</td>
                    <td><a href="#">6</a></td>
                    <td><a href="#">6</a></td>
                    <td>01/25/2020</td>
                </tr>
                <tr>
                    <td>234</td>
                    <td>Elorac Inc.</td>
                    <td><a href="#">3</a></td>
                    <td><a href="#">9</a></td>
                    <td>01/28/2020</td>
                </tr>
                <tr>
                    <td>532</td>
                    <td>Dynavax Technologies</td>
                    <td><a href="#">9</a></td>
                    <td><a href="#">9</a></td>
                    <td>01/30/2020</td>
                </tr>
                <tr>
                    <td>456</td>
                    <td>Dendreon</td>
                    <td><a href="#">4</a></td>
                    <td><a href="#">8</a></td>
                    <td>02/01/2020</td>
                </tr>
                <tr>
                    <td>234</td>
                    <td>Tonix Pharmaceuticals</td>
                    <td><a href="#">2</a></td>
                    <td><a href="#">12</a></td>
                    <td>02/02/2020</td>
                </tr>
                <tr>
                    <td>643</td>
                    <td>Biogen</td>
                    <td><a href="#">5</a></td>
                    <td><a href="#">10</a></td>
                    <td>02/10/2020</td>
                </tr>
                <tr>
                    <td>396</td>
                    <td>Celgene Corp</td>
                    <td><a href="#">8</a></td>
                    <td><a href="#">15</a></td>
                    <td>02/10/2020</td>
                </tr>
                <tr>
                    <td>309</td>
                    <td>Beiersdorf, Inc.</td>
                    <td><a href="#">7</a></td>
                    <td><a href="#">9</a></td>
                    <td>02/11/2020</td>
                </tr>
                <tr>
                    <td>398</td>
                    <td>Baxter</td>
                    <td><a href="#">6</a></td>
                    <td><a href="#">18</a></td>
                    <td>02/19/2020</td>
                </tr>
                <tr>
                    <td>346</td>
                    <td>Taiho Oncology, Inc</td>
                    <td><a href="#">8</a></td>
                    <td><a href="#">24</a></td>
                    <td>02/20/2020</td>
                </tr>
                <tr>
                    <td>289</td>
                    <td>Spectrum Pharmaceuticals, Inc.</td>
                    <td><a href="#">5</a></td>
                    <td><a href="#">18</a></td>
                    <td>02/26/2020</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>