
@{
    ViewBag.Title = "Mangement";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>Mangement</h2>

<img src="https://cdns.tblsft.com/sites/default/files/pages/tableau_sales_growth_rates.png" alt="demo management dashboard"/>
