
@{
    ViewBag.Title = "Order Status";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Order Status</h2>
Your order is still being processed. You will receive an email when the Singapore office has recived your work order comound(s). Thank you.

