
@{
    ViewBag.Title = "Order Status";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Work Order #350345 Status</h2>
Your order is in testing. As tests are completed their progress will be updated here. Please contact us if you have any questions or concerns.

<img src="~/Images/Status1.png" />
<img src="~/Images/Status2.png" />
<img src="~/Images/Status3.png" />