
@{
    ViewBag.Title = "Order Status";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Order Status</h2>
Your order is complete. Click <a href="~/Images/Sample Report Summary.pdf" target="_blank">here</a> to download the report of our findings.

