
@{
    ViewBag.Title = "Order Status";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Order Status</h2>
Your order is in testing. As tests are completed their progress will be updated here. Please contact us if you have any questions or concerns.

