
@{
    ViewBag.Title = "thankYou";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Thank You</h2>
<h4>Your order number is 34525385453. You will recived an email shortly with instructions on shipping your compound(s) to our lab.</h4>

