<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
           Our Services
        </h1>
    </div>
</div>
<div class="section-colored jumbotron">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Biochemical Pharmacology</h2>
                @*<ul>
                    <li>Bootstrap 3 Framework</li>
                    <li>Mobile Responsive Design</li>
                    <li>Predefined File Paths</li>
                    <li>Working PHP Contact Page</li>
                    <li>Minimal Custom CSS Styles</li>
                    <li>Unstyled: Add Your Own Style and Content!</li>
                    <li>Font-Awesome fonts come pre-installed!</li>
                    <li>100% <strong>Free</strong> to Use</li>
                    <li>Open Source: Use for any project, private or commercial!</li>
                </ul>*@
                <p>
                    Biochemical Pharmacology publishes original research findings, Commentaries and review articles related to the elucidation of cellular and tissue function(s) at the biochemical and molecular levels, the modification of cellular phenotype(s) by genetic, transcriptional/translational or drug/compound-induced modifications, as well as the pharmacodynamics and pharmacokinetics of xenobiotics and drugs, the latter including both small molecules and biologics.

                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" style="width:400px; height:250px" src="~/Images/adult-biology-chemical-chemist-356040.jpg" />
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->
<br />
<br />
<br />
<div class="section jumbotron">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" style="width:400px; height:250px" src="~/Images/laboratory-test-tubes-2280549 (1).jpg" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>DiscoveryScreen</h2>
                @*<ul>
                    <li>Bootstrap 3 Framework</li>
                    <li>Mobile Responsive Design</li>
                    <li>Predefined File Paths</li>
                    <li>Working PHP Contact Page</li>
                    <li>Minimal Custom CSS Styles</li>
                    <li>Unstyled: Add Your Own Style and Content!</li>
                    <li>Font-Awesome fonts come pre-installed!</li>
                    <li>100% <strong>Free</strong> to Use</li>
                    <li>Open Source: Use for any project, private or commercial!</li>
                </ul>*@
                <p>Includes an in-depth analysis of the compounds' phenotypic composition.  Many developed drugs go through some type of such screening. </p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>

<br />
<br />
<br />
<div class="section-colored jumbotron">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>ImmunoScreen</h2>
                @*<ul>
                    <li>Bootstrap 3 Framework</li>
                    <li>Mobile Responsive Design</li>
                    <li>Predefined File Paths</li>
                    <li>Working PHP Contact Page</li>
                    <li>Minimal Custom CSS Styles</li>
                    <li>Unstyled: Add Your Own Style and Content!</li>
                    <li>Font-Awesome fonts come pre-installed!</li>
                    <li>100% <strong>Free</strong> to Use</li>
                    <li>Open Source: Use for any project, private or commercial!</li>
                </ul>*@
                <p>Immunoscreening is a method of biotechnology to detect a polypeptide produced from a cloned gene. The term encompasses several different techniques designed for protein identification, for example Western blotting. Clones are screened for the presence of the gene product (a protein).</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" style="width:400px; height:250px" src="~/Images/person-holding-glass-flasks-3082451.jpg" />
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->
<br />
<br />
<br />
<div class="section jumbotron">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" style="width:400px; height:250px" src="~/Images/person-holding-laboratory-flask-2280571 (1).jpg">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>ProfilingScreen</h2>
                @*<ul>
                    <li>Bootstrap 3 Framework</li>
                    <li>Mobile Responsive Design</li>
                    <li>Predefined File Paths</li>
                    <li>Working PHP Contact Page</li>
                    <li>Minimal Custom CSS Styles</li>
                    <li>Unstyled: Add Your Own Style and Content!</li>
                    <li>Font-Awesome fonts come pre-installed!</li>
                    <li>100% <strong>Free</strong> to Use</li>
                    <li>Open Source: Use for any project, private or commercial!</li>
                </ul>*@
                <p>Safety-related drug failures remain a major challenge for the pharmaceutical industry. In vitro safety pharmacology profiling is an integrated essential component of drug discovery and used extensively throughout the discovery process to investigate interactions of drug candidates at molecular targets distinct from the intended therapeutic target, to achieve optimal specificity of new drugs via early hazard identification and off-target mitigation, and to predict clinical adverse effects to reduce unwarranted attrition.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<br />
<br />
<br />
<div class="section-colored jumbotron">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>PharmaScreen</h2>
                @*<ul>
                    <li>Bootstrap 3 Framework</li>
                    <li>Mobile Responsive Design</li>
                    <li>Predefined File Paths</li>
                    <li>Working PHP Contact Page</li>
                    <li>Minimal Custom CSS Styles</li>
                    <li>Unstyled: Add Your Own Style and Content!</li>
                    <li>Font-Awesome fonts come pre-installed!</li>
                    <li>100% <strong>Free</strong> to Use</li>
                    <li>Open Source: Use for any project, private or commercial!</li>
                </ul>*@
                <p>Screen Pharma Screen Drug Test amphetamines Instructions for use for each combination of testdellas following drugs: amphetamine, benzodiazepine, cocaine, marijuana, methyldioxymethamphetamine, ketamine, opiates, synthetic marijuana k2 / spice.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" style="width:400px; height:250px" src="~/Images/person-in-white-hand-gloves-writing-on-white-paper-207601.jpg">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->
<br />
<br />
<br />
<div class="section jumbotron">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" style="width:400px; height:250px" src="~/Images/two-test-tubes-954585.jpg">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>CustomScreen</h2>
                @*<ul>
                    <li>Bootstrap 3 Framework</li>
                    <li>Mobile Responsive Design</li>
                    <li>Predefined File Paths</li>
                    <li>Working PHP Contact Page</li>
                    <li>Minimal Custom CSS Styles</li>
                    <li>Unstyled: Add Your Own Style and Content!</li>
                    <li>Font-Awesome fonts come pre-installed!</li>
                    <li>100% <strong>Free</strong> to Use</li>
                    <li>Open Source: Use for any project, private or commercial!</li>
                </ul>*@
                <p>CustomScreen™ (CS) provides customizable options for specific test parameters for given compounds.  The Singapore pharmacology draws upon the decades of experience of its experts to provide you with optimal conclusions on the most critical chemicals and compounds to use at your pharmacy.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<br />
<br />